// Vars

@import "blocks/vars";

// Settings 

body{
    background-color: #181818;
    color: $white;
    font-size: 14px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
}

*,
*:before,   
*:after{
    box-sizing: border-box;
}

// Blocks

@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/sidebar';
@import 'blocks/main';
@import 'blocks/container';
@import 'blocks/profile';
@import 'blocks/social';    
@import 'blocks/btn';
@import 'blocks/btn';
@import 'blocks/search';
@import 'blocks/subnav';
@import 'blocks/stories'; 
@import 'blocks/add-post';  
@import 'blocks/post';
@import 'blocks/embed';
@import 'blocks/pagination';












