body {
  background-color: #181818;
  color: #fff;
  font-size: 14px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.page {
  overflow: hidden;
}

.header {
  display: flex;
  height: 40px;
  width: calc(100% - 300px);
  background-color: #0D0D0D;
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header__left {
  width: 60%;
}

.header__right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

li {
  list-style-type: none;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__item {
  position: relative;
}
.nav__item:hover .nav__link {
  background-color: #3137C9;
}
.nav__item:hover > .subnav {
  display: block;
}

.nav__link {
  display: block;
  padding: 12px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: background-color linear 0.2s;
}
.nav__link.has-subnav {
  position: relative;
  padding-right: 30px;
}
.nav__link.has-subnav:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 40%;
  right: 12px;
  z-index: 1000;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #202020;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 5px 0 15px rgba(5, 5, 5, 0.1);
}

.sidebar_header {
  width: 300px;
  height: 180px;
  display: block;
  object-fit: cover;
  background-color: #121212;
}

.sidebar_content {
  margin-top: -50px;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.main {
  padding: 100px 0 80px 300px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.profile__avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0, 7px, 20px, rgba(0, 0, 0, 0.25);
}

.profile__name {
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3px;
}

.profile__prof {
  font-size: 14px;
  color: #DEDEDE;
  font-weight: 300;
  text-align: center;
  margin-bottom: 17px;
}

.profile__text {
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  padding: 30px 30px;
  margin: 30px 0;
  text-align: center;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}

.post__read {
  font-size: 14px;
  color: #107EFF;
  text-decoration: none;
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.social ul {
  margin-left: 0;
  padding-left: 0;
}

.social__item {
  margin: 0 12px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #fff;
  border: 0;
  text-decoration: none;
  width: 120px;
  height: 40px;
  padding: 13px 25px;
  border-radius: 25px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.btn--blue {
  background-color: #3137C9;
  box-shadow: 0 7px 17px -17px rgba(32, 84, 219, 0.2);
}
.btn--blue:hover {
  background-color: #0c1090;
}
.btn--red {
  background-color: #ED3024;
  box-shadow: 0 7px 17px -17px rgba(242, 63, 63, 0.2);
}
.btn--red:hover {
  background-color: #942a22;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #fff;
  border: 0;
  text-decoration: none;
  width: 120px;
  height: 40px;
  padding: 13px 25px;
  border-radius: 25px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.btn--blue {
  background-color: #3137C9;
  box-shadow: 0 7px 17px -17px rgba(32, 84, 219, 0.2);
}
.btn--blue:hover {
  background-color: #0c1090;
}
.btn--red {
  background-color: #ED3024;
  box-shadow: 0 7px 17px -17px rgba(242, 63, 63, 0.2);
}
.btn--red:hover {
  background-color: #942a22;
}

.search {
  width: 100%;
  height: 100%;
  max-width: 212px;
  background-color: #202020;
}
.search:focus {
  border: none;
}

.search__input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 12px;
  color: #fff;
}
.search__input::placeholer {
  color: rgba(255, 255, 255, 0.2);
}

input {
  outline: none;
}

.subnav {
  display: none;
  width: 165px;
  background-color: #3137C9;
  padding: 0;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.subnav__link {
  display: block;
  padding: 5px 12px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  padding: 10px 12px;
  transition: background-color ease-in-out 0.2s;
}
.subnav__link:hover {
  background-color: #090d79;
}

.stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 13px;
  grid-template-rows: 175px;
  margin-bottom: 30px;
}
.stories img {
  border-radius: 5px;
}

.stories__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.stories__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.stories__item:hover .stories__preview {
  transform: scale(1.3);
  transition-duration: 3s;
}

.stories__preview {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: transform ease-in-out 0.2s;
}

.stories__title {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.stories__date {
  font-size: 12px;
  color: #fff;
  padding: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.add-post {
  margin-bottom: 30px;
  background-color: #121212;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
}

.add-post__form {
  display: flex;
  align-items: center;
}

.add-post__textarea {
  display: block;
  width: 75%;
  height: 26px;
  font-family: inherit;
  font-size: 15;
  color: #fff;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
}
.add-post__textarea::placeholder {
  color: #d2d2d2;
}

.add-post__form-actions {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.add-post_file {
  display: block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: #EBEBEB url(/img/photo\ btn.svg) center no-repeat;
  cursor: pointer;
}
.add-post_file input {
  display: none;
}

.add-post__send {
  display: block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: none;
}
.add-post__send button {
  display: none;
}

.post {
  margin-bottom: 30px;
  padding: 25px;
  background-color: #202020;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
}

.post__header {
  margin: -25px -25px 25px;
}
.post__header--video {
  margin: 0 0 25px;
}

.post__preview {
  display: block;
  width: 100%;
  height: auto;
}

.post__content {
  margin-bottom: 20px;
}

.post__title {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.post__title a {
  color: inherit;
  text-decoration: none;
}
.post__title a:hover {
  text-decoration: underline;
}

.post__text {
  font-size: 14px;
  color: #d2d2d2;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  top: -30px;
}

.post__data {
  display: flex;
  padding: 0;
  color: #828282;
  line-height: 1.2;
}
.post__data a {
  color: inherit;
  text-decoration: underline;
}
.post__data a:hover {
  text-decoration: underline;
}

.post_data-item a {
  text-decoration: none;
}
.post_data-item a:hover {
  text-decoration: underline;
}
.post_data-item:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 15px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.post__read {
  font-size: 14px;
  color: #107EFF;
  text-decoration: none;
  margin: 14px;
}
.post__read:hover {
  text-decoration: underline;
}

.embed {
  position: relative;
  overflow: hidden;
}
.embed:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.embed iframe,
.embed video,
.embed object,
.embed embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 80px 0;
  padding: 0;
}

.pagination__item {
  margin: 0 5px;
  padding: 12px 16px;
  background-color: #0D0D0D;
  transition: background-color ease-in-out 0.3s;
  border-radius: 3px;
}
.pagination__item:hover {
  background-color: #104BE3;
}

.pagination__link {
  display: block;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */
